* {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#header {
  margin-top: 2rem;
  text-align: center;
}

#title {
  font-size: 1.35rem;
}

#credit {
  color: black;
  font-weight: 600;
  padding-top: 2.25rem;
  font-size: 1.125rem;
}

#introduction {
  width: 60%;
  margin: 3rem auto 0;
}

#greeting {
  font-weight: 500;
  line-height: 1.75rem;
}

#navbar {
  margin-top: .75rem;
}

#navbar li {
  padding: .5rem 0rem;
}

#navbar li a {
  color: navy;
}